{
  "plugins": [
    "mocha"
  ],
  "rules": {
    "func-names": 0,
    "mocha/handle-done-callback": 2,
    "mocha/max-top-level-suites": 1,
    "mocha/no-exclusive-tests": 2,
    "mocha/no-global-tests": 2,
    "mocha/no-identical-title": 2,
    "mocha/no-mocha-arrows": 1,
    "mocha/no-nested-tests": 2,
    "mocha/no-pending-tests": 1,
    "mocha/no-sibling-hooks": 1,
    "mocha/no-skipped-tests": 1,
    "no-unused-expressions": 0,
    "prefer-arrow-callback": 0,
    "react/jsx-filename-extension": 0
  },
  "env": {
    "mocha": true
  }
}
